.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  font-size: 16px;
  font-family: 'FreeUniversalRegular';
  font-weight: normal;
  margin: 0;
}
.rtl{

text-align: right;
}


/* fonts */

.f-xtitre{

  font-family: 'MidanBlack';

}


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {

}

/* Custom page header */
.header {

}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {


  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}



/*Grid System*/

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF TWELVE  */
.span_12_of_12 {
	width: 100%;
}

.span_11_of_12 {
  	width: 91.53%;
}
.span_10_of_12 {
  	width: 83.06%;
}

.span_9_of_12 {
  	width: 74.6%;
}

.span_8_of_12 {
  	width: 66.13%;
}

.span_7_of_12 {
  	width: 57.66%;
}

.span_6_of_12 {
  	width: 49.2%;
}

.span_5_of_12 {
  	width: 40.73%;
}

.span_4_of_12 {
  	width: 32.26%;
}

.span_3_of_12 {
  	width: 23.8%;
}

.span_2_of_12 {
  	width: 15.33%;
}

.span_1_of_12 {
  	width: 6.866%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }

    .span_1_of_12, .span_2_of_12, .span_3_of_12, .span_4_of_12, .span_5_of_12, .span_6_of_12, .span_7_of_12, .span_8_of_12, .span_9_of_12, .span_10_of_12, .span_11_of_12, .span_12_of_12 {
	width: 100%;
	}
}



/* Lists */

.H-list{
  list-style: none;
  padding: 0;
  margin: 0;
}
.H-list li{
  margin-left:2px;
float:left; /*pour IE*/
}
#languageList{
  float: right;
font-size: 0.875em;
line-height: 2.4em;
}

#languageList li a{
font-family: 'FreeUniversalRegular';
margin: 0px 6px;
color: #777777;
cursor: pointer;
}

#languageList li.active a {
color: black;
cursor: pointer;
font-family: 'FreeUniversalBold';
}
#MenuList{
font-size: 1.5em;
}
#MenuList li a{
margin: 0px 10px;
color: black;
cursor: pointer;
font-weight: regular;

text-decoration: none;
}
#MenuList li a:hover{
margin: 0px 10px;
cursor: pointer;
font-weight: regular;
text-decoration: none;
}

#MenuList li.active a{
color: #152ee8 !important;
font-weight: bold;
font-family: 'FreeUniversalBold' !important;
}

/** RTL **/
.rtl #languageList{
  float: left;
  font-family: 'MidanRegular' !important;
  font-weight: normal;
  font-style: normal;
  font-size: 1.2em;
    line-height: 2em;

}
.rtl #languageList li a{
font-family: 'MidanRegular' !important;
margin: 0px 6px;
color: #777777;
cursor: pointer;
}

.rtl #languageList li.active a {
color: black;
cursor: pointer;
font-family: 'MidanBlack' !important;
}

.rtl #MenuList{
  float: right;
  font-family: 'MidanBlack' !important;
  font-size: 2em;
}
.rtl #MenuList li a{
margin: 0px 10px;
color: black;
cursor: pointer;
text-decoration: none;
}
.rtl #MenuList li.active a{
color: #152ee8 !important;
font-weight: bold;
font-family: 'MidanBlack' !important;
}

/* Wrappers */

.wrapper{
  margin-right: 10%;
  margin-left: 10%;
}


/* homepage */

.bg-homepage{
  width: 100%;
}

/* Audio PLayer */

.audioplayer_wrapper{
  width: 100%;
  position: fixed;
  bottom: 0;
  background: #353535;
  color: white;
  height: 60px;
}
.PlayPauseButton{
  width: 60px;
  height: 60px;
}
.playButton{
  background-color: #152ee8;
}
.pauseButton{
  background-color: #e51a2e;
}
.CurrentAudioInfo {
  width: 20%;
    height: 50px;
    color: #FFF;
    position: absolute;
    display: inline-block;
    bottom: 0;
    left: 70px;
    padding: 5px;
}
.CurrentAudioInfo .title{
  font-size: 1.125em;
  font-weight: normal;
  font-style: normal;
}
.CurrentAudioInfo .broadcast_date{
  font-size: 0.625em;
  font-weight: normal;
  font-style: italic;
  letter-spacing: 2px;
  margin-top: 5px;
}
.AudioProgressBar{
  position: absolute;
    bottom: 0;
    width: 40%;
    height: 60px;
    left: 24%;
}
.audio-progress {
  height: 6px;
  width: 100%;
  background-color: #b5b5b5;
  margin-top: 26px;
    margin-bottom: 26px;
}
.audio-progress .bar {
  height: 100%;
  background-color: #152ee8;
}

#audio-progress-handle {
  display: block;
  position: absolute;
  z-index: 1;
  margin-top: -6px;
  margin-left: -10px;
  width: 14px;
  height: 14px;
  border: 3px solid #FFF;
  border-top-color: #FFF;
  border-right-color: #FFF;
  transform: rotate(45deg);
  border-radius: 100%;
  background-color: #152ee8;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
  cursor: pointer;
}


.draggable {
  float: left; margin: 0 10px 10px 0;
}

/** Big Head Wrapper **/
.big-head-wrapper{
height: 400px;
width: 100%;
background-image: url('../images/big_bg.png');
background-position: bottom;
background-repeat: no-repeat;
background-size: cover;
}
.big-head-wrapper .title{
text-align: center;
font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif";
color: white;
font-size: 3.750em;
line-height: 1em;
margin-top: 30px;
letter-spacing: 3px;
text-transform: uppercase;
}
.big-head-wrapper .sub-title{
text-align: center;
font-family: 'FreeUniversalRegular';
letter-spacing: 1px;
font-size: 0.875em;
margin-top: 5px;
color: white;
}
/** RTL **/

.rtl .big-head-wrapper .title{
  text-align: center;
  /*font-family: 'TitrBold';*/
font-family: 'MidanBlack' !important;
  font-weight: normal;
  font-style: normal;
  color: white;
  font-size: 4.4em;
  letter-spacing: 0px;
  line-height: 1.2em;
  margin-top: 30px;
}

/* The starting CSS styles for the enter animation */
.fade.ng-enter {
  transition:0.5s linear all;
  opacity:0;
}

/* The finishing CSS styles for the enter animation */
.fade.ng-enter.ng-enter-active {
  opacity:1;
}
