<div  ng-include="'includes/big-head-wrapper.html'"></div>

<div class="section group">
  <div class="col span_12_of_12">
    <div ng-repeat="podcast in podcasts">
      {{podcast.current_translation.title}}



      <div class="podcast_PlayPause" ng-controller="PodcastplayerCtrl">
        <a ng-click="PlayOnRoot(podcast)"  ng-if="CurrentAudio == null || AudioPlaing == false || CurrentAudio.id != podcast.id"><img class="blueButton" src="{{play_blueIcon}}" /></a>

        <a ng-click="PauseOnRoot(podcast)"  ng-if="CurrentAudio.id == podcast.id && AudioPlaing == true"><img class="blueButton" src="{{pause_blueIcon}}" /></a>

      </div>
    </div>
  </div>
</div>
