<div ng-controller="AudioplayerCtrl" class="audioplayer_wrapper">
<audio media-player="audio1">
    <source src="" type="">
  </audio>
  <!--span ng-show="audio1.playing">Player status: Playing</span>
  <span ng-show="!audio1.playing">Player status: Paused</span></br-->
  <div class="PlayPauseButton">
    <a ng-click="mySpecialPlayButton()" ng-show="!audio1.playing"><img class="playButton" src="{{playIcon}}" /></a>
    <a ng-click="mySpecialPauseButton()" ng-show="audio1.playing"><img class="pauseButton" src="{{pauseIcon}}" /></a>

  </div>
  <div class="CurrentAudioInfo" ng-if="CurrentAudio != null">
    <div class="title">{{CurrentAudio.current_translation.title}}</div>
    <div class="broadcast_date">{{"audioplayer.broadcast_date" | translate}} {{CurrentAudio.publication_date  | date: 'longDate'}}</div>

  </div>
  <div class="AudioProgressBar" ng-if="CurrentAudio != null">
    <div class="audio-progress" id="audio-progress" >
     <div data-drag="true" jqyoui-draggable="{onDrag: 'drag()'}" data-jqyoui-options="{axis: 'x', containment : '#audio-progress'}" id="draggable-point" style="left:75%;position:absolute;" class="draggable ui-widget-content">
       <div id="audio-progress-handle"></div>
     </div>
     <div id="audio-progress-bar" class="bar" style="width:75%">
     </div>
   </div>
  </div>

</div>
