<div class="header">
<div class="section group" ng-if="!Language.isRtl()">
  <div class="col span_8_of_12">
    <ul class="H-list" id="MenuList">
      <li><a is-active-link href="/#/">{{"menu.home" | translate}}</a></li>

      <li><a is-active-link href="/#/podcasts">{{"menu.podcasts" | translate}}</a></li>
      <li><a is-active-link href="/#/about">{{"menu.about" | translate}}</a></li>
        <li><a is-active-link href="/#/contact">{{"menu.contact" | translate}}</a></li>
      </ul>
</div>
<div class="col span_4_of_12">

    <ul class="H-list" id="languageList" >
      <li ng-class="{active:isActive(locale)}" ng-repeat="locale in localesDisplayNames"  ><a   ng-click="changeLanguage(locale)">{{locale}}</a></li>
    </ul>

  </div>
</div>
<div class="section group" ng-if="Language.isRtl()">
  <div class="col span_4_of_12">

      <ul class="H-list" id="languageList">
        <li ng-class="{active:isActive(locale)}" ng-repeat="locale in localesDisplayNames"  ><a ng-class="{active:isActive(locale)}"  ng-click="changeLanguage(locale)">{{locale}}</a></li>
      </ul>

    </div>
  <div class="col span_8_of_12">
    <ul class="H-list" id="MenuList">
      <li><a is-active-link href="/#/contact">{{"menu.contact" | translate}}</a></li>
      <li><a is-active-link href="/#/about">{{"menu.about" | translate}}</a></li>
      <li><a is-active-link href="/#/podcasts">{{"menu.podcasts" | translate}}</a></li>
        <li><a is-active-link href="/#/">{{"menu.home" | translate}}</a></li>

      </ul>
</div>

</div>
</div>
