<div class="header">
<div class="section group">
  <div class="col span_6_of_12">
    <ul class="H-list" id="MenuList" ng-if="!Language.isRtl()">
      <li><a href="podcasts">{{"menu.podcasts" | translate}}</a></li>
      <li><a href="about">{{"menu.about" | translate}}</a></li>
        <li><a href="contact">{{"menu.contact" | translate}}</a></li>
      </ul>

    <ul class="H-list" id="languageList" ng-if="Language.isRtl()">
      <li ng-repeat="locale in localesDisplayNames"  ><a ng-click="changeLanguage(locale)">{{locale}}</a></li>
    </ul>

  </div>
  <div class="col span_6_of_12">
    <ul class="H-list" id="MenuList" ng-if="Language.isRtl()">
        <li><a ng-href="contact">{{"menu.contact" | translate}}</a></li>
        <li><a ng-href="about">{{"menu.about" | translate}}</a></li>
        <li><a ng-href="podcasts">{{"menu.podcasts" | translate}}</a></li>

      </ul>

    <ul class="H-list" id="languageList" ng-if="!Language.isRtl()">
      <li ng-repeat="locale in localesDisplayNames"  ><a ng-click="changeLanguage(locale)">{{locale}}</a></li>
    </ul>
  </div>
</div>

</div>
